* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.container1 {
  display: grid;
  width: 90%;
  height: 80vh;
  position: relative;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  grid-template-areas: "black-background background-image Fwhite-background";
}

.black-background {
  grid-area: "black-background";
  background-color: #151515;
  position: relative;
}

.black-background .logo {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 32.125rem;
}

.logo h2 {
  color: white;
  font-feature-settings: "clig"off, "liga"off;
  font-family: Big Shoulders Display;
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  line-height: 5.5rem;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.background-image {
  grid-area: background-image;
  background: url(./assets/image-hero.jpg);
  background-position: center center;
  background-size: cover;
}

.white-background {
  grid-area: "white-background";
  background-color: white;
  position: relative;
}

.white-background .logo {
  display: none;
}

.content1 {
  position: absolute;
  top: 20%;
  left: -10%;
  height: 10rem;
  width: 21rem;
}

.content1 p {
  font-family: Outfit;
  font-weight: 300;
  line-height: 2rem;
  font-size: 1.375rem;
  margin-top: 0rem;
}

.button-loc {
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 800;
  border: none;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: -10%;
  width: 12.75rem;
  height: 4.5rem;
  background-color: #151515;
  color: white;
  padding: 10px 0px 10px 20px;
  text-align: left;
  cursor: pointer;
  background-image: url("./assets/box-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: fill;
  background-origin: content-box;
}

.button-loc:hover {
  background-image: url("./assets/box-arrow-diff.svg");
  background-color: #d5966c;
}

.container2 {
  display: grid;
  position: relative;
  width: 90%;
  margin-top: 5rem;
  left: 5%;
  height: 130vh;
  gap: 1.5rem;
  margin-bottom: 10rem;
  grid-template-rows: 1.2fr 1fr 1fr;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-areas:
    "c2-text1 c2-image1 c2-image1"
    "c2-image2 c2-image2 c2-image3 "
    "c2-image2 c2-image2 c2-text2";
}

.c2-text1 {
  grid-area: c2-text1;
  padding: 1.5rem;
}

h1 {
  font-feature-settings: "clig"off, "liga"off;
  font-family: Big Shoulders Display;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.75rem;
  text-transform: uppercase;
  margin-top: 3rem;
}

p {
  margin-right: 5rem;
  font-family: Outfit;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  margin-top: 1rem;
}

.c2-image1 {
  grid-area: c2-image1;
  background: url(./assets/image-grid-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.c2-image2 {
  grid-area: c2-image2;
  background: url(./assets/image-grid-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.c2-image3 {
  grid-area: c2-image3;
  background: url(./assets/image-grid-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.c2-text2 {
  grid-area: c2-text2;
  padding: 1.5rem;
  background-color: #151515;
}

.c2-text2 h1,
.c2-text2 p {
  color: white;
}

.container3 {
  background-color: #151515;
  width: 100%;
}

.footer {
  display: flex;
  width: 90%;
  height: 20vh;
  left: 5%;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 2rem 0;
  margin-top: 5rem;
}

.footer-logo {
  width: 10rem;
  height: 3.625rem;
  background: url(./assets/logo-light.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-text {
  color: white;
  font-feature-settings: "clig"off, "liga"off;
  font-family: "Outfit";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75rem;
  max-width: 30rem;
}

.footer-socials {
  display: flex;
  width: 7rem;
}

.footer-socialmedia {
  list-style-type: none;
  display: inline-flex;
  margin-right: 0;
}

.footer-socialmedia li {
  margin-left: 1rem;
}

.footer svg:hover path {
  fill: #d5966c;
}

.loc-container {
  display: grid;
  height: 120vh;
  grid-template-rows: 2fr 2fr 0.5fr;
  grid-template-areas:
    "map"
    "location-text"
    "location-footer";
}

.map {
  background: url(./assets/image-map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#home-button {
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 800;
  border: none;
  font-size: 1.25rem;
  position: absolute;
  left: 10%;
  width: 12.75rem;
  height: 4rem;
  background-color: #151515;
  color: white;
  padding: 10px 20px 10px 0px;
  text-align: right;
  cursor: pointer;
  background-image: url("./assets/box-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: fill;
}

#home-button:hover {
  background-image: url("./assets/box-arrow-left-diff.svg");
  background-color: #d5966c;
}

.location-text {
  background-color: #151515;
  padding: 3rem 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-h1 {
  display: none;
}

.location-text h1 {
  color: white;
  font-family: Big Shoulders Display;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 4.375rem;
  width: 100%;
  margin-top: 0rem;
}

.location-text .address h2 {
  color: #d5966c;
  font-family: Big Shoulders Display;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.25rem;
}

.location-text .address p {
  color: white;
  font-family: Outfit;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  margin-right: 0rem;
}

.location-footer {
  display: flex;
  width: 100%;
  background-color: #d5966c;
  height: 20vh;
  padding: 2rem 10%;
  flex-direction: row;
  justify-content: space-between;
}

.location-footer .footer-logo {
  width: 10rem;
  height: 3.625rem;
  background: url(./assets/logo-dark.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.location-footer .footer-text {
  color: #151515;
}

.location-footer svg:hover path {
  fill: white;
}

@media (max-width: 1024px) {
  .black-background .logo {
    left: 10%;
  }
}

@media (max-width: 850px) {
  .black-background {
    display: none;
  }

  .container1 {
    width: 100%;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "background-image white-background";
    height: 43.5rem;
  }

  .white-background .logo h2 {
    color: #151515;
    font-size: 4.375rem;
    line-height: 4.375rem;
    mix-blend-mode: normal;
  }

  .white-background {
    position: relative;
  }

  .white-background .logo {
    position: absolute;
    top: 20%;
    left: -15%;
    display: block;
  }

  .content1 {
    position: absolute;
    top: 45%;
    left: -15%;
    width: 22rem;
    margin-right: 0;
  }

  .content1 p {
    color: var(--Dark-Grey, #444);
    font-family: Outfit;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75rem;
    margin-right: 0rem;
  }

  .button-loc {
    top: 65%;
    left: -15%;
  }

  h1 {
    font-size: 3.125rem;
    line-height: 2.75rem;
    margin-top: 0rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-right: 1rem;
  }

  .footer-logo {
    height: 2.5rem;
    width: 7rem;
    align-items: flex-start;
  }

  .footer-text {
    max-width: 20rem;
  }

  .location-text {
    padding: 2rem 5%;
  }

  .location-footer {
    padding: 2rem 5%;
  }

  .location-text h1 {
    font-size: 3.5rem;
    line-height: 3.125rem;
    margin-top: 0rem;
  }

  .location-text .address h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 0rem;
  }

  .location-text .address p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0rem;
  }
}

@media (max-width: 425px) {
  .container1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    width: 100%;
    height: 40rem;
    grid-template-areas:
      "background-image"
      "white-background";
  }

  .white-background {
    position: relative;
  }

  .white-background .logo {
    width: 95%;
    top: 2rem;
    left: 5%;
  }

  .white-background .logo h2 {
    font-size: 3.75rem;
    line-height: 3.4rem;
  }

  .content1 {
    left: 5%;
    height: auto;
    width: 95%;
  }

  .button-loc {
    position: absolute;
    top: 80%;
    left: 5%;
  }

  .container2 {
    grid-template-rows: 1fr 1fr 1.5fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 200vh;
    grid-template-areas:
      "c2-image1"
      "c2-text1"
      "c2-image2"
      "c2-image3"
      "c2-text2";
    margin-top: 7.5rem;
  }

  .footer {
    height: 21rem;
    flex-direction: column;
  }

  .footer-socialmedia li {
    margin-left: 0;
    margin-right: 1rem;
  }

  #home-button {
    left: 0%;
  }

  .loc-container {
    height: 140vh;
  }

  .location-text {
    flex-direction: column;
  }

  .location-text h1 {
    display: none;
  }

  .location-text .mobile-h1 {
    display: block;
    font-size: 3.125rem;
    line-height: 2.8rem;
  }

  .location-footer {
    flex-direction: column;
    height: 40vh;
  }
}