* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}

p {
  line-height: 1.5rem;
}

.container1 {
  display: grid;
  width: 90%;
  height: 80vh;
  position: relative;
  grid-template-columns: 2fr 2.5fr 1fr;
  grid-template-areas: "black-background background-image white-background";
}

.black-background {
  grid-area: "black-background";
  background-color: #151515;
}

.logo {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 30rem;
  height: 10rem;
}

.logo h2 {
  color: white;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Big Shoulders Display;
  font-size: 6rem;
  font-style: normal;
  font-weight: 900;
  line-height: 5.5rem;
  text-transform: uppercase;
}

.background-image {
  grid-area: background-image;
  background: url(./assets/desktop/image-hero.jpg);
  background-position: center center;
  background-size: cover;
}
.white-background {
  grid-area: "white-background";
  background-color: white;
}

.content1 {
  position: absolute;
  top: 20%;
  right: 0;
  height: 10rem;
  width: 22rem;
}

.content1 p {
  font-family: Outfit;
  line-height: 2rem;
  font-size: 1.375rem;
}

.location-button {
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 800;
  border: none;
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  right: 5%;
  width: 12.75rem;
  height: 4rem;
  background-color: #151515;
  color: white;
  padding: 10px 0px 10px 20px;
  text-align: left;
  cursor: pointer;
  background-image: url("./assets/box-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: fill;
  background-origin: content-box;
}

.location-button:hover {
  background-image: url("./assets/box-arrow-diff.svg");
  background-color: #d5966c;
}

.container2 {
  display: grid;
  position: relative;
  width: 90%;
  margin-top: 5rem;
  left: 5%;
  height: 130vh;
  gap: 1.5rem;
  margin-bottom: 10rem;
  grid-template-rows: 1.2fr 1fr 1fr;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-areas:
    "text1 image1 image1"
    "image2 image2 image3 "
    "image2 image2 text2";
}

.text1 {
  grid-area: "text1";
  padding: 1.5rem;
}

h1 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Big Shoulders Display;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.75rem;
  text-transform: uppercase;
  margin-top: 3rem;
}

p {
  margin-right: 5rem;
  font-family: Outfit;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  margin-top: 1rem;
}
.image1 {
  grid-area: image1;
  background: url(./assets/desktop/image-grid-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image2 {
  grid-area: image2;
  background: url(./assets/desktop/image-grid-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image3 {
  grid-area: image3;
  background: url(./assets/desktop/image-grid-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.text2 {
  grid-area: text2;
  padding: 1.5rem;
  background-color: #151515;
}

.text2 h1,
.text2 p {
  color: white;
}

.footer {
  display: flex;
  width: 100%;
  background-color: #151515;
  height: 20vh;
  padding: 2rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer .footer-logo {
  color: white;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Big Shoulders Display";
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.footer .text {
  color: white;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Outfit";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75rem;
  max-width: 30rem;
}

.footer .socials {
  display: flex;
  margin-bottom: 3.5rem;
  width: 5rem;
}

.footer ul.footer-socialmedia {
  list-style-type: none;
  display: inline-flex;
}

.footer .footer-socialmedia li {
  margin-right: 2rem;
}
